.presenter-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Adicionado para centralizar verticalmente */
  padding: 1rem;
  box-sizing: border-box;

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__main {
    /* flex: 1; Removido para permitir a centralização do conjunto */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 32rem;
  }

  &__footer {
    margin-top: 2rem;
  }
}
