.sphere-list {
  position: relative;
  height: 18rem;
  width: 100%;

  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.25rem;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
               opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &--center {
      font-weight: 600;
    }
  }

  &__name {
    white-space: nowrap;
    text-align: center;
  }
}
