# Deploy Angular app to Azure Static Web Apps
# Docs: https://learn.microsoft.com/azure/static-web-apps/deploy-github-actions?tabs=angular

name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**/*.md"
      - "**/server/**"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build Angular app
        run: npm run build:gh

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # For PR builds
          action: "upload"
          app_location: ""
          output_location: "dist/dash-dm/browser"
